In [1]:
import pandas as pd
import numpy as np 
from nltk.corpus import stopwords

In [2]:
tweets=pd.read_csv("scraped_tweets.csv")
tweets.head()

,twitter_link,text,date,likes,comments,retweets,username,hashtag
0,https://twitter.com/godsganggo/status/17266519...,Our Gang stands for a world filled with LOVE. ...,"Nov 20, 2023 · 5:21 PM UTC",4179,505,358,@godsganggo,love
1,https://twitter.com/cpabogadossc/status/175241...,🔴 #NoLoDigoYo #Noticias #Cdmx #Politics #Youtu...,"Jan 30, 2024 · 7:47 PM UTC",0,0,0,@cpabogadossc,love
2,https://twitter.com/cpabogadossc/status/175241...,🔴 #NoLoDigoYo #Noticias #Cdmx #Politics #Youtu...,"Jan 30, 2024 · 7:46 PM UTC",1,0,2,@cpabogadossc,love
3,https://twitter.com/cpabogadossc/status/175241...,🔴 #NoLoDigoYo #Noticias #Cdmx #Politics #Youtu...,"Jan 30, 2024 · 7:46 PM UTC",0,0,1,@cpabogadossc,love
4,https://twitter.com/SashkaCo/status/1752385641...,#Giveaway!! We're giving away 3 Sashka Co. bra...,"Jan 30, 2024 · 5:37 PM UTC",52,48,43,@SashkaCo,love

In [3]:
tweets.drop(["date","likes","comments","retweets","twitter_link","username"], axis=1, inplace=True)
tweets.head()

                                                text hashtag
0  Our Gang stands for a world filled with LOVE. ...    love
1  🔴 #NoLoDigoYo #Noticias #Cdmx #Politics #Youtu...    love
2  🔴 #NoLoDigoYo #Noticias #Cdmx #Politics #Youtu...    love
3  🔴 #NoLoDigoYo #Noticias #Cdmx #Politics #Youtu...    love
4  #Giveaway!! We're giving away 3 Sashka Co. bra...    love

In [4]:
import re

# Define a function to remove emojis and punctuation
def remove_emoji_and_punctuation(text):
    # Remove emojis
    emoji_pattern = re.compile("["
                               u"\U0001F600-\U0001F64F"  # emoticons
                               u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                               u"\U0001F680-\U0001F6FF"  # transport & map symbols
                               u"\U0001F700-\U0001F77F"  # alchemical symbols
                               u"\U0001F780-\U0001F7FF"  # Geometric Shapes Extended
                               u"\U0001F800-\U0001F8FF"  # Supplemental Arrows-C
                               u"\U0001F900-\U0001F9FF"  # Supplemental Symbols and Pictographs
                               u"\U0001FA00-\U0001FA6F"  # Chess Symbols
                               u"\U0001FA70-\U0001FAFF"  # Symbols and Pictographs Extended-A
                               u"\U00002702-\U000027B0"  # Miscellaneous Symbols
                               u"\U000024C2-\U0001F251" 
                               "]+", flags=re.UNICODE)
    text = emoji_pattern.sub(r'', text)

    # Remove punctuation
    text = re.sub(r'[^\w\s]', '', text)

    return text

# Apply the remove_emoji_and_punctuation function to each cell in the 'text' column
tweets['text'] = tweets['text'].apply(remove_emoji_and_punctuation)

tweets.head()

                                                text hashtag
0  Our Gang stands for a world filled with LOVE J...    love
1   NoLoDigoYo Noticias Cdmx Politics Youtube Mex...    love
2   NoLoDigoYo Noticias Cdmx Politics Youtube Mex...    love
3   NoLoDigoYo Noticias Cdmx Politics Youtube Mex...    love
4  Giveaway Were giving away 3 Sashka Co bracelet...    love

In [5]:
import re
import nltk
import pandas as pd
from nltk.tokenize import word_tokenize
from nltk.corpus import words

nltk.download('punkt')
nltk.download('words')

english_words = set(words.words())

# Define a function to clean and filter words in a given text
def clean_and_filter_words(text, english_words):
    
    words = word_tokenize(text)
    cleaned_words = []

    for word in words:
        # Remove digits, non-alphabetic characters, and non-English characters
        cleaned_word = re.sub(r'[^a-zA-Z]', '', word)

        # Check if the cleaned word is an English word and has a length greater than 2
        if cleaned_word.lower() in english_words and len(cleaned_word) > 2:
            # Append the cleaned word to the list (strip() removes leading and trailing spaces)
            cleaned_words.append(cleaned_word.lower().strip())

    return ' '.join(cleaned_words)

# Apply the clean_and_filter_words function to each cell in the 'text' column
tweets['text'] = [clean_and_filter_words(text, english_words) for text in tweets['text']]

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\hasan\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\hasan\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

In [6]:
tweets.head(10)

                                                text hashtag
0  our gang for world filled with love join our j...    love
1  politics video news love presidente internatio...    love
2  politics video news love presidente internatio...    love
3  politics video news love presidente internatio...    love
4  giveaway were giving away enter follow like th...    love
5  ago about divorce you dont have hate one paren...    love
6  why are urging stockpile prescription love pus...    love
7   hope everyone wonderful cute love abuse survivor    love
8  days love our lovely angel park sit bench out ...    love
9  community its wrap was great youth winter retr...  travel

In [7]:
import nltk
from nltk.corpus import stopwords

nltk.download('stopwords')
stop_words = set(stopwords.words('english'))
# Remove stopwords from the 'text' column in the Text column
tweets['text'] = tweets['text'].apply(lambda x: ' '.join([word for word in x.split() if word.lower() not in stop_words]))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\hasan\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [8]:
tweets.head(10)

                                                text hashtag
0  gang world filled love join journey make love ...    love
1  politics video news love presidente internatio...    love
2  politics video news love presidente internatio...    love
3  politics video news love presidente internatio...    love
4  giveaway giving away enter follow like post ta...    love
5  ago divorce dont hate one parent love father t...    love
6        urging stockpile prescription love push via    love
7   hope everyone wonderful cute love abuse survivor    love
8  days love lovely angel park sit bench kitchen ...    love
9  community wrap great youth winter retreat yout...  travel

In [9]:
tweets.isnull().sum()

text       0
hashtag    0
dtype: int64

In [10]:
tweets.shape

(8558, 2)

In [11]:
#display duplicated rows based on the 'text' column
tweets[tweets.duplicated('text')]

                                                   text            hashtag
2     politics video news love presidente internatio...               love
3     politics video news love presidente internatio...               love
35                                   japan travel japan             travel
60                                   japan travel japan             travel
130   join community proficiency communication aviat...           language
...                                                 ...                ...
8482     create sunshine let soul glow light positivity  optimisticmindset
8483  compass direction journey choose optimism resi...  optimisticmindset
8485                                                tip  optimisticmindset
8489  always hope future even future bleak spread gi...  optimisticmindset
8546  embrace power hope learn people thrive optimis...  optimisticmindset

[2013 rows x 2 columns]

In [12]:
#drop duplicated rows from "text"
tweets = tweets.drop_duplicates(subset='text')
tweets.shape

(6545, 2)

In [13]:
tweets.to_csv("cleaned_data.csv",index=False)